body {
  padding: 1em;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  border: 3px dotted green;
  color: #333;
}
h2 {
  font-size: 1.4em;
  font-weight: 800;
  margin-top: .5em;
  margin-bottom: .5em;
  color: #777;
}
p {
  margin-bottom: 1em;
}
strong {
  text-transform: uppercase;
}
/*-- flex container styles --*/
.flex-container {/*--container styles --*/
  margin-bottom: 2em;
  background: #FAFAFA;
  padding: 1em;
  border: 2px dashed blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: no-wrap;
}
.col {/*--common columns styles --*/
  border: 1px solid red;
  background: #FFF;
  padding: .5em;
  text-align: center;
}
.left {/*-- styles for first column --*/
  flex-basis: 20%;
  flex-grow: 0;
  order: 0;
}
.center {/*-- styles for second column --*/
  flex-basis: 50%;
  flex-grow: 0;
  order: 0;
}
.right {/*-- styles for third column --*/
  flex-basis: 20%;
  flex-grow: 0;
  order: 0;
}
/*--block-container styles --*/
.block-container {
  display: block;
  background: #FAFAFA;
  padding: 1em;
  border: 2px dashed purple;
  width: 50%;
  margin: .5em auto;
}
/*-- Media Queries --*/
@media screen and (max-width: 768px) {
  .flex-container {
    flex-direction:column;
  }
  .block-container {
    width: 80%;
  }
}
